<h3>Listado de Hèroes</h3>
<div>
    <h3 *ngIf="deleteHero;else nothingWasDelete">Hèroe borrado <small class="text-danger">{{deleteHero}}</small> </h3>
    
</div>
<ng-template #nothingWasDelete>
    <h3>No ha borrado nada.</h3>
</ng-template>

<button 

    *ngIf="heroNames.length>0"
    class="btn btn-outline-danger" 
    (click)="removeLastHero()">
    Borrar Ultimo Hèroe
</button>


<ul class="mt-2 list-group">
    <li class="list-group-item" *ngFor="let name of heroNames">
        <strong>{{name}}</strong>
    </li>
</ul>